*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*::before,*::after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*=======================================================================================================*/

:root {
    --color1: #F78888;
    --color2: #F3D250;
    --color3: #ECECEC;
    --color4: #88BDBC;
    --color5: #0000006a;
  }

body {
    background-image: url(./fon/fon.png);
    font-family: Arial, sans-serif;
}
header {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color5);
    /* color: #fff; */
    top: 0.1px;
    width: 100%;
    min-width: 300px;
    height: 70px;
    /* border: 1px solid red; */
}
nav {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    width: 95%;
    /* border: 1px solid red; */
}
nav div {
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
}
.nav-one,
.nav-two,
.nav-thre {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
 

button {
    background: none;
    border: none;
    color: var(--color3);
    font-size: 25px;
    cursor: pointer;
}
button:hover {
    color: var(--color5);
}
.note-color_white,
.note-color_red,
.note-color_yellow,
.note-color_green {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.note-color_white:hover,
.note-color_red:hover,
.note-color_yellow:hover,
.note-color_green:hover,
.all:hover {
    border: 3px solid var(--color5);
}
.note-color_white {
    background-color: var(--color3);
}
.note-color_red {
    background-color: var(--color1);
}
.note-color_yellow {
    background-color: var(--color2);
}
.note-color_green {
    background-color: var(--color4);
}
.create {
    font-size: 35px;
}
.all {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid var(--color3);
    background: rgb(247,136,136);
    background: linear-gradient(90deg, rgba(247,136,136,1) 0%, rgba(243,210,80,1) 50%, rgba(136,189,188,1) 100%);
}

input[type="text"] {
    border-radius: 5px;
    width: 80%;
    padding: 0 0 0 15px;
    font-size: 16px;
    height: 30px;
}

#notes-container {
    display: flex;
    flex-wrap: wrap; /* Обеспечивает переход строк */
    padding: 20px;
    gap: 20px;
}
.note {
    flex: 1 0 22%; /* Устанавливает базовую ширину элемента и позволяет ему расти */
    box-sizing: border-box; /* Учитывает отступы и границы */
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    padding: 10px;
    min-width: 300px;
}
.note:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.note-title,
.note-title_input {
    /* border: 1px solid red; */
    background-color: #fff;
    width: auto;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.note-body,
.note-body_textarea {
    /* border: 1px solid red; */
    background-color: #fff;
    width: 100%;
    height: 100px;
    overflow: hidden;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.edit-note {
    /* border: 1px solid red; */
    background-color: #fff;
    color: var(--color5);
    font-size: 15px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}
.delete-note {
    /* border: 1px solid red; */
    background-color: #fff;
    color: var(--color5);
    font-size: 15px;
    padding: 5px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}

.edit-note:hover,
.delete-note:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color5);
}
.popup-content {
    background-color: var(--color3);
    height: 40%; 
    margin: 10% auto;
    border-radius: 5px;
    width: 100%;
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    padding: 20px;
}

#note-title {
    width: 100%;
    height: 10%;
    border-radius: 5px;
    /* color: #fff; */
    margin: 0;
    padding: 10px;
}

.note-body_textarea {
    width: 100%;
    height: 60%;
    font-size: 16px;
    border-radius: 5px;
    /* color: #fff; */
    resize: none;
    padding: 10px;
}

.color-picker {
    width: 15%;
}

.close-btn {
    background-color: #fff;
    color: var(--color5);
    font-size: 15px;
    padding: 5px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.save-btn {
    background-color: #fff;
    color: var(--color5);
    font-size: 15px;
    padding: 5px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.close-btn:hover,
.save-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}










/* Модальное окно предупреждающее об удалении заметки */
/* ======================================================== */
.modal {
    display: none; 
    position: fixed; 
    z-index: 10001; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: var(--color5);
}

.modal-content {
    background-color: var(--color3);
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid var(--color5);
    width: 30%; 
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
}
.modal-content h4 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border: 1px solid rgb(229, 255, 0); */
}
.modal-content h4 .fa-solid {
    font-size: 80px;
    color: var(--color1);
}
.modal-content p {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 30px;
    color: #000;
    /* border: 1px solid rgb(255, 0, 170); */
}
.modal-content_button {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    /* border: 1px solid red; */
}
.modal-content #confirmDelete {
    /* border: 1px solid red; */
    background-color: #fff;
    color: var(--color5);
    font-size: 25px;
    padding: 5px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.modal-content #cancelDelete {
    /* border: 1px solid red; */
    background-color: #fff;
    color: var(--color5);
    font-size: 25px;
    padding: 5px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
/* ======================================================== */

/* модальное окно предупреждение о дублировании заголовка */
/* ======================================================== */

#notificationMessage {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 30px;
    color: #000;
    /* border: 1px solid rgb(255, 0, 170); */
}

.modal-content #closeNotification {
    /* border: 1px solid red; */
    background-color: #fff;
    color: var(--color5);
    font-size: 25px;
    padding: 5px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
/* ======================================================== */


/* Медиазапрос для мобильных устройств (ширина экрана 480px и меньше) */
/* ======================================================== */
@media (max-width: 768px) {
    header {
        height: auto;
        /* border: 1px solid red; */
    }
    nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* display: flex;
        flex-wrap: wrap;
        justify-content: start; */
        width: 95%;
        gap: 0;
        padding: 0;
        margin: 0;
        /* border: 1px solid rgb(43, 255, 0); */
    }
    .nav-one {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
        gap: 5px;
    }
    .nav-two {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: start;
        gap: 0;
    }
    .nav-thre {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
        gap: 15px;
    }
    nav button {
        /* border: 1px solid red; */
        width: 5%;
        margin: 10px;
    }
    button:hover {
        color: none;
    }
    .reply {
        /* border: 1px solid rgb(128, 255, 0);  */
    }
    .create {
        font-size: 35px;
    }
    #note-search {
        width: 80%;
        margin: 10px auto;
        height: 30px;
        /* border: 1px solid rgb(128, 255, 0); */
    }

    .popup-content {
        height: 90%; 
        width: 100%;
        max-width: 90%;
        justify-content: start;
    }
    .color-picker {
        /* border: 1px solid rgb(0, 247, 255); */
        width: 35%;
        color: var(--color5);
        font-size: 12px;
    }
    #note-color {
        /* border: 1px solid rgb(255, 21, 0); */
        height: 35px;
        border-radius: 5px;
        color: var(--color5);
        font-size: 12px;
    }
    .close-btn {
        font-size: 15px;
        padding: 10px;
        /* margin-left: 10px; */
        /* border: 1px solid rgb(128, 255, 0); */
    }
    .save-btn {
        font-size: 15px;
        padding: 10px;
        /* margin-left: 10px; */
        /* border: 1px solid rgb(128, 255, 0); */
    }
    .close-btn:hover,
    .save-btn:hover {
        box-shadow: none;
    }

    .modal-content {
        width: 80%; 
        gap: 50px;
    }
    .modal-content h4 .fa-solid {
        font-size: 120px;
    }
    .modal-content p {
        font-size: 20px;
    }
    #notificationMessage {
        font-size: 20px;
    }
    .modal-content #confirmDelete,
    .modal-content #cancelDelete,
    .modal-content #closeNotification {
        font-size: 20px;
        padding: 5px 25px;
    }
}
/* ======================================================== */